doctype html
html(lang="en")
    head
        block head
            include _head
                
    body
        // Navigation section
        include _nav

        // Content
        block content 

        // Footer
        include _loginRegister
        
        include _footer

